<div class="p-mb-3 car-container p-5 shadow-8 border-round-lg">
    <div class="flex gap-3">
        <div class="flex justify-content-center">
            <p-avatar 
                icon="pi pi-user"
                size="xlarge"
                [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" 
                shape="circle" />
            </div>
        <div class="flex flex-column justify-content-center align-items-center p-mt-3">
            <h3 class="text-0 font-italic">{{userName}}</h3>
            <span class="text-0 font-italic">{{userRole}}</span>
        </div>
    </div>
</div>
