.login-container {
    background: rgb(205,208,207);
    background: linear-gradient(328deg, rgba(205,208,207,1) 0%, rgba(128,126,166,1) 35%, rgba(36,36,66,1) 100%);
}

::ng-deep .p-inputtext {
    outline: none;
    box-shadow: none;
}